* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body {
    background-color: black;
    display: flex;
    align-items: center;
    
}
div {
    width: 600px;
    border-bottom: 1px solid white;
    text-align: center;
    height: 70px;
}
p{
    color: white;

}
h1 {
    color: white;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 300px;
}
.input-text{
    width: 400px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid white;
    background-color: #0E0E0E;
    margin: 25px;
    color: white;
    font-size: 20px;
}

button {
    width: 400px;
    height: 50px;
    border-radius: 30px;
    background-color: #46FF59;
    margin: 30px;
    font-size: 20px;
    font-family: bold;
}